

    <div class="card mb-4 shadow-sm">

      <img class="bd-placeholder-img card-img-top p-2" width="100%"
           src="https://resize-elle.ladmedia.fr/rcrop/638,,forcex/img/var/plain_site/storage/images/beaute/soins/tendances/creme-solaire-teintee/bb-creme-fraicheur-delicate-spf-50-lancaster/88266212-1-fre-FR/BB-Creme-Fraicheur-Delicate-SPF-50-Lancaster.jpg" />
      <div class="card-body">
       <p class="card-text">
         <strong><small class="text-muted">{{ 18.17 | currency:'EUR' }}</small></strong>
       </p>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary">Add to cart</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
          </div>
        </div>
      </div>
    </div>

